<ActionBar class="action-bar">
    <Label text="Happy Birthday Pooja!" class="actionBarLabel"></Label>
</ActionBar>


<GridLayout tkExampleTitle tkToggleNavButton>
	<StackLayout row="0" class="messagesStack">
        <StackLayout *ngIf="tab == 0">
            <GridLayout verticalAlignment="top">
                <Label text="Happy Birthday Pooja!" class="birthdayMessage"></Label>
            </GridLayout>
            <GridLayout backgroundColor="White">
                <GridLayout>
                    <ios>
                        <Image src="{{ '~/assets/images/Pooja.jpg' }}" stretch="aspectFill"></Image>
                    </ios>
                    <android>
                        <Image src="{{ '~/assets/images/Pooja.jpg' }}" stretch="aspectFill" height="350"></Image>

                        <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                            imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                    </android>
                </GridLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout *ngIf="tab == 1 && messagePhotoArray_28.length == 0">
            <Label text="You're not 28 yet! Come back when you are :)" class="birthdayMessage"></Label>
        </StackLayout>
        <RadListView [items]="messagePhotoArray_28" marginRight="-2" *ngIf="tab == 1">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                itemHeight="200" spanCount="1">
            </ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout backgroundColor="White">
                    <GridLayout>
                        <ios>
                            <Image src="{{ item.photo }}" stretch="aspectFill"></Image>
                        </ios>
                        <android>
                            <Image src="{{ item.photo }}" stretch="aspectFill"
                                height="350"></Image>

                            <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                                imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                        </android>
                        <GridLayout height="{{ item.messageHeight }}" verticalAlignment="bottom" (tap)="switchMessageExpanded(item)">
                            <StackLayout paddingTop="8" paddingBottom="8" [ngClass]="{'messageExpanded': item.messageExpanded}"
                                paddingLeft="16" paddingRight="16" class="messageBox">
                                <Label text="{{ item.name }}" class="messageName"></Label>
                                <Label text="{{ item.message }}" class="messageMessage" *ngIf="item.messageExpanded == true"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
        <StackLayout *ngIf="tab == 2 && messagePhotoArray_29.length == 0">
            <Label text="You're not 29 yet! Come back when you are :)" class="birthdayMessage"></Label>
        </StackLayout>
        <RadListView [items]="messagePhotoArray_29" marginRight="-2" *ngIf="tab == 2">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                itemHeight="200" spanCount="1">
            </ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout backgroundColor="White">
                    <GridLayout>
                        <ios>
                            <Image src="{{ item.photo }}" stretch="aspectFill"></Image>
                        </ios>
                        <android>
                            <Image src="{{ item.photo }}" stretch="aspectFill"
                                height="350"></Image>

                            <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                                imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                        </android>
                        <GridLayout height="{{ item.messageHeight }}" verticalAlignment="bottom" (tap)="switchMessageExpanded(item)">
                            <StackLayout paddingTop="8" paddingBottom="8" [ngClass]="{'messageExpanded': item.messageExpanded}"
                                paddingLeft="16" paddingRight="16" class="messageBox">
                                <Label text="{{ item.name }}" class="messageName"></Label>
                                <Label text="{{ item.message }}" class="messageMessage" *ngIf="item.messageExpanded == true"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
        <StackLayout *ngIf="tab == 3 && messagePhotoArray_30.length == 0">
            <Label text="You're not 30 yet! Come back when you are :)" class="birthdayMessage"></Label>
        </StackLayout>
        <RadListView [items]="messagePhotoArray_30" marginRight="-2" *ngIf="tab == 3">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                itemHeight="200" spanCount="1">
            </ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout backgroundColor="White">
                    <GridLayout>
                        <ios>
                            <Image src="{{ item.photo }}" stretch="aspectFill"></Image>
                        </ios>
                        <android>
                            <Image src="{{ item.photo }}" stretch="aspectFill"
                                height="350"></Image>

                            <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                                imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                        </android>
                        <GridLayout height="{{ item.messageHeight }}" verticalAlignment="bottom" (tap)="switchMessageExpanded(item)">
                            <StackLayout paddingTop="8" paddingBottom="8" [ngClass]="{'messageExpanded': item.messageExpanded}"
                                paddingLeft="16" paddingRight="16" class="messageBox">
                                <Label text="{{ item.name }}" class="messageName"></Label>
                                <Label text="{{ item.message }}" class="messageMessage" *ngIf="item.messageExpanded == true"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </StackLayout>

    
	<BottomBar row="1" (tabSelected)="tabSelected($event)"></BottomBar>
</GridLayout>